
.diff-mismatch {
    -fx-background-color: #dfdfff;
}

.diff-mismatch:selected {
    -fx-background-color: #9191ff;
}

.implicit-attribute {
    -fx-font-weight: bold;
}

.key-attribute {
    -fx-underline: true;
}

.hidden-component {
    -fx-font-style: italic;
}
