#aboutpane {
  -fx-background-image: url("/${packageInPathFormat}/gui/images/login-and-about.png");
  -fx-background-repeat: no-repeat;
  -fx-background-color: white;
  -fx-background-size: 550 300;
  -fx-background-position: left;
  -fx-min-width: 550;
  -fx-min-height: 300;
  -fx-border-style: solid;
}

#closeButton {
  -fx-padding: 5 5 5 5;
  -fx-border-insets: 5 5 5 5;
  -fx-background-insets: 5 5 5 5;
}
