
html, body, td, th, a, h1, h2, h3, h4, h5, h6 {
  font-family: arial,lucida sans,arial,helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #f18319;
  background-color: transparent;
  border: 0px solid white;
  border-top: 1px solid #f18319;
  border-bottom: 1px solid #f18319;
}

a,
tr.a a,
tr.b a,
a.externalLink,
a.externalLink:link,
a.externalLink:visited {
  color: #00305e;
}

a:hover,
a.externalLink:active,
a.externalLink:hover,
tr.a a:hover,
tr.b a:hover,
tr.a a:active,
tr.b a:active,
#navcolumn li a:hover,
#navcolumn li a:active {
  color: #f18319;
}

table.bodyTable th {
  background-color: #00305e;
  color: #fff;
}

#breadcrumbs {
  background-color: #00305e;
  color: #fff;
  border: 0px solid white;
}

#breadcrumbs a {
  color: #00305e;
  font-size: 14px;
}

#breadcrumbs,
#breadcrumbs div {
  height: 32px;
  color: #fff;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 14px;
}

#breadcrumbs a:hover {
  color: #f18319;
}

#bannerLeft {
  float: left;
}

#bannerLeft,
#bannerRight {
  width: calc(50% - 1px);
}

#bannerLeft img:before,
#bannerRight img:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#bannerRight img {
  float: right;
}

#banner img {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}

#leftColumn {
  background-color: transparent;
  border: 0px solid white;
}

#navcolumn li.none {
  font-size: 12px;
}

#navcolumn li.none strong,
#navcolumn li.expanded strong {
  color: #f18319;
  font-size: 12px;
}

#navcolumn h5 {
  font-size: 12px;
  color: #101010;
  margin: 6px 0px;
  padding: 2px 0px;
  border-bottom: 1px solid #f18319;
}

#navcolumn li a {
  font-size: 12px;
  color: #101010;
}

a.poweredBy {
  margin-top: 10px;
  border-top: 1px solid #f18319;
  display: block;
  text-align: center;
}
