
.note > .box > .text {
  -fx-border-color: -fx-background;
  -fx-label-padding: 5 5 5 5;
  -fx-background-radius: 5 5 5 5;
  -fx-border-style: solid;
  -fx-border-radius: 5;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 10.0, 0.5, 2.0, 2.0);
}

.note > .box > .link > .line {
  -fx-stroke-width: 2;
}


.right > .box {
  -fx-translate-y: 10;
  -fx-translate-x: -4;
}

.left > .box {
  -fx-translate-y: 10;
  -fx-translate-x: 11;
}

.top > .box {
  -fx-translate-y: 11;
  -fx-translate-x: 8;
}

.bottom > .box {
  -fx-translate-y: -4;
  -fx-translate-x: 8;
}

.center > .box {
  -fx-translate-y: 10;
  -fx-translate-x: 8;
}

.error > .box > .text {
  -fx-background-color: #fed1d1;
  -fx-text-fill: #880000;
  -fx-font-weight: bold;
}

.error > .box > .link > .circle {
  -fx-stroke: red;
  -fx-fill: red;
}

.error > .box > .link > .line {
  -fx-stroke: red;
}


.info > .box > .text {
  -fx-background-color: #e5ffe5;
  -fx-text-fill: #008800;
  -fx-font-weight: bold;
}

.info > .box > .link > .circle {
  -fx-stroke: green;
  -fx-fill: green;
}

.info > .box > .link > .line {
  -fx-stroke: green;
}


.sticky > .box > .text {
  -fx-background-color: yellow;
  -fx-text-fill: black;
  -fx-font-weight: normal;
}

.sticky > .box > .link > .circle {
  -fx-stroke: black;
  -fx-fill: black;
}

.sticky > .box > .link > .line {
  -fx-stroke: black;
}
